<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BluetoothSniffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C955549C1DB3A3EA005ED963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95554B21DB3A3EB005ED963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C95554BD1DB3A3EB005ED963</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
